:root {
    --primary-color: #9702b4;
    --primary-color-hover: #7c0494;
    --secondary-color: #6c757d;
    --background-color: #222222;
    --text-color: #e7e7e7;
    --link-color: #adb5bd;
    --border-color: #444;
    --input-background: #333;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 2rem 0;
}
/* Navbar */
.navbar {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color) !important;
}
.navbar .navbar-brand {
    color: var(--text-color) !important;
    font-size: 1.75rem;
    font-weight: bold;
}
.navbar .navbar-nav .nav-link {
    color: var(--link-color) !important;
}
.navbar .navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
}

/* Footer */
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid var(--border-color);
}
footer a {
    color: var(--link-color);
    text-decoration: none; 
}
footer a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* index.html */
.login {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
.login input, .login input:hover, .login input:focus {
    background-color: var(--input-background);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
.login input::placeholder { /* this is the color of the text in the form */
    color: var(--text-color);
}
.login .btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
}
.login .btn-primary:hover {
    background-color: var(--primary-color-hover);
}

